/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e9f0f6,
    100 : #c8dae9,
    200 : #a3c1da,
    300 : #7ea8cb,
    400 : #6295bf,
    500 : #4682b4,
    600 : #3f7aad,
    700 : #376fa4,
    800 : #2f659c,
    900 : #20528c,
    A100 : #c9e0ff,
    A200 : #96c3ff,
    A400 : #63a7ff,
    A700 : #4998ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e0f0f0,
    100 : #b3d9d9,
    200 : #80c0c0,
    300 : #4da6a6,
    400 : #269393,
    500 : #008080,
    600 : #007878,
    700 : #006d6d,
    800 : #006363,
    900 : #005050,
    A100 : #83ffff,
    A200 : #50ffff,
    A400 : #1dffff,
    A700 : #03ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #f8e3f0,
    100 : #eeb9da,
    200 : #e38ac2,
    300 : #d85baa,
    400 : #cf3897,
    500 : #c71585,
    600 : #c1127d,
    700 : #ba0f72,
    800 : #b30c68,
    900 : #a60655,
    A100 : #ffd1e5,
    A200 : #ff9ec9,
    A400 : #ff6bac,
    A700 : #ff529e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

