@import '~@angular/material/theming';
@import './palette';
@include mat-core();
$myProject-primary: mat-palette($md-primary, 500, A100, 900);
$myProject-accent: mat-palette($md-accent, 500, A100, 900);
$myProject-warn: mat-palette($md-warn, 500, A100, 900);
$myProject-foreground: mat-palette($md-primary);
$myProject-theme: mat-light-theme($myProject-primary, $myProject-accent, $myProject-warn);
@include angular-material-theme($myProject-theme);

// Our dark theme
.dark-theme {
//  color: $light-primary-text;
  $dark-primary: mat-palette($md-primary, 900, A100, A700);
  $dark-accent: mat-palette($md-accent, 900, A100, A700);
  $dark-warn: mat-palette($md-warn, 900, A100, A700);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
