<div class="row mt-5">
	<div class="col-lg-10">
		<h3 class="titre-page">Informations entreprise</h3>
		<hr class="mb-5">
		<div *ngIf="entreprise">
			<mat-card class="mat-elevation-z5">
				<div class="row">
					<div class="col-lg-4">
						<p>
							<label><b>Dénomination : </b></label>
						</p>
						<p>
							{{entreprise.raisonSociale}} {{entreprise.formeJuridique}}
						</p>
						<p>
							{{entreprise.nature}}
						</p>
						<p>
							N° SIRET : {{entreprise.numeroSiret}}
						</p>
						<p>
							N° TVA : {{entreprise.numeroTva}}
						</p>
					</div>
					<div class="col-lg-4">
						<p>
							<label><b>Coordonnees : </b></label>
						</p>
						<p>
							{{coordonnees.rue}}
						</p>
						<p>
							{{coordonnees.codePostal}} {{coordonnees.ville}}
						</p>
						<p>
							{{coordonnees.pays}}
						</p>
					</div>
					<div class="col-lg-4">
						<p>
							<label><b>Contact : </b></label>
						</p>
						<p>
							{{coordonnees.email}}
						</p>
						<p>
							Tel : {{coordonnees.tel}}
						</p>
						<p>
							Fax : {{coordonnees.fax}}
						</p>
					</div>
				</div>
			</mat-card>
			<div class="row mt-5">
				<div class="col-lg-4">
					<button (click)="tableauDeBord()" mat-raised-button color="accent" class="w-100">
						<i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Tableau de bord.
					</button>
				</div>
				<div class="col-lg-4">
					<button (click)="updateEntreprise(entreprise.id)" mat-raised-button color="primary" class="w-100">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Editer votre entreprise
					</button>
				</div>
				<div class="col-lg-4">
					<button type="button" mat-raised-button (click)="openDialog(entreprise.id)" color="warn" class="w-100">
						<i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Supprimer votre entreprise
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
