// App :
$background-app: whitesmoke;
$color-app: #333;

// Side bar :
$background-side-bar: #EEE;
$color-side-bar: #777;

// Colors :
$colour-primary: #64a19d;

// Snack bar :
$background-snackbar: $background-app;
$color-snackbar: #333;