<div class="row">
    <div class="col-lg-12">
        <h2 class="titre-page">Création devis</h2>
        <hr class="mb-5">

        <form (ngSubmit)="upload()" [formGroup]="form" enctype="multipart/form-data">
            <input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput>
            <button type="submit">Submit</button>
        </form> 

        <div class="container row">
            <div class="col-md-12">
                <h1>Upload Image</h1>
            </div>
        </div><div class="container row">
            <div class="col-md-6">
                <input type="file" (change)="onFileChanged($event)">    </div>
                <div class="col-md-6">
                    <input type="button" (click)="onUpload()" value="upload">
                </div>
            </div>
            <hr />
            <div class="container row">
                <div class="col-md-12">
                    <div *ngIf=message>{{message}}</div>
                </div>
            </div><div class="container row">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
                    name="name" />
                </div>
                <div class="col-md-6">
                    <input type="button" (click)="getImage()" value="Get Image">    </div>
                </div><div class="container row">
                    <div class="col-md-12">
                        <div *ngIf=retrievedImage>
                            <img [src]="retrievedImage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
