mat-sidenav-content {
    font-family: 'Roboto', sans-serif;
    color: $color-app;
}

h1 {
	font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-weight: 100 !important;
}

h2 {
	font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-weight: 100 !important;
}

.titre-page {
	font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-weight: 100 !important;
}
