<div class="row mt-5">
	<div class="col-lg-10">
		<h2>Détail client professionnel</h2>
		<hr class="mb-5">
		<div *ngIf="professionnel">
			<mat-card class="mat-elevation-z5">
				<div class="row">
					<div class="col-lg-4">
						<p>
							<label><b>Dénomination : </b></label>
						</p>
						<p>
							{{professionnel.raisonSociale}} {{professionnel.formeJuridique}}
						</p>
						<p>
							{{professionnel.nature}}
						</p>
						<p>
							N° SIRET : {{professionnel.numeroSiret}}
						</p>
						<p>
							N° TVA : {{professionnel.numeroTva}}
						</p>
					</div>
					<div class="col-lg-4">
						<p>
							<label><b>Coordonnees : </b></label>
						</p>
						<p>
							{{coordonnees.rue}}
						</p>
						<p>
							{{coordonnees.codePostal}} {{coordonnees.ville}}
						</p>
						<p>
							{{coordonnees.pays}}
						</p>
					</div>
					<div class="col-lg-4">
						<p>
							<label><b>Contact : </b></label>
						</p>
						<p>
							{{coordonnees.email}}
						</p>
						<p>
							Tel : {{coordonnees.tel}}
						</p>
						<p>
							Fax : {{coordonnees.fax}}
						</p>
					</div>
				</div>
			</mat-card>
			<div class="row mt-5">
				<div class="col-lg-4">
					<button (click)="listeClients()" mat-raised-button color="accent" class="w-100">
						<i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Liste clients
					</button>
				</div>
				<div class="col-lg-4">
					<button (click)="updateEntreprise(professionnel.id)" mat-raised-button color="primary" class="w-100">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Editer ce client
					</button>
				</div>
				<div class="col-lg-4">
					<button type="button" mat-raised-button (click)="openDialog(professionnel.id)" color="warn" class="w-100">
						<i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Supprimer ce client
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<app-liste-devis *ngIf="devis" [devisList]="devis"></app-liste-devis>
