<div class="row">
	<div class="col-lg-10">
		<h2 class="titre-page">Profil de l'utilisateur</h2>
		<hr class="mb-5">
		<mat-card class="mat-elevation-z5">
			<div *ngIf="utilisateur">
				<p>
					<label><b>Nom : </b></label> {{utilisateur.nom}}
				</p>
				<p>
					<label><b>E-mail : </b></label> {{utilisateur.email}}
				</p>
			</div>
		</mat-card>

		<div class="row mt-5">
			<div class="col-lg-4">
				<button (click)="tableauDeBord()" mat-raised-button color="accent" class="w-100">
					<i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Tableau de bord.
				</button>
			</div>
			<div class="col-lg-4">
				<button (click)="updateUtilisateur(utilisateur.id)" mat-raised-button color="primary" class="w-100">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Editer votre compte
				</button>
			</div>
			<div class="col-lg-4">
				<button type="button" mat-raised-button (click)="openDialog(utilisateur.id)" color="warn" class="w-100">
					<i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Supprimer votre compte
				</button>
			</div>
		</div>
	</div>
</div>

<app-details-entreprise *ngIf="entreprise; else creationEntreprise" [entreprise]="entreprise"></app-details-entreprise>

<ng-template #creationEntreprise>
	<div class="row">
		<div class="col-lg-10">
			<h3 class="titre-page mt-5">Informations entreprise</h3>
			<hr class="mb-5">
			<div class="col-lg-10">
				<p>
					Vous devez enregistrer les informations de votre entreprise. Celles-ci sont nécessaires pour créer les documents en fonction de la législation en vigueur.
				</p>
			</div>
			<div class="col-lg-4">
				<button (click)="creerEntreprise()" mat-raised-button class="w-100">
					<i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Enregistrer votre entreprise
				</button>
			</div>
		</div>
	</div>
</ng-template>


	<input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput>
	<button (click)="upload()" mat-raised-button>
		<i class="far fa-file-upload"></i>&nbsp;Upload
	</button>

