<div class="row">
    <div class="col-lg-6">
        <h2 class="titre-page">Modification client professionnel</h2>
        <hr class="mb-5">
        <form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Raison sociale</mat-label>
                    <input matInput type="text" placeholder="Entrer une raison sociale" formControlName="raisonSocialeForm" required>
                    <mat-error *ngIf="entrepriseForm.get('raisonSocialeForm').errors">{{ validFormRaisonSociale() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Forme juridique</mat-label>
                    <mat-select formControlName="formeJuridiqueForm" required>
                        <mat-option value="CAPE">CAPE</mat-option>
                        <mat-option value="EI">EI</mat-option>
                        <mat-option value="EIRL">EIRL</mat-option>
                        <mat-option value="SARL">SARL</mat-option>
                        <mat-option value="EURL">EURL</mat-option>
                        <mat-option value="SAS">SAS</mat-option>
                        <mat-option value="SASU">SASU</mat-option>
                    </mat-select>
                    <mat-error *ngIf="entrepriseForm.get('formeJuridiqueForm').errors">{{ validFormFormeJuridique() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Nature</mat-label>
                    <mat-select formControlName="natureForm" required>
                        <mat-option value="Agricole">Agricole</mat-option>
                        <mat-option value="Artisanale">Artisanale</mat-option>
                        <mat-option value="Commerciale">Commerciale</mat-option>
                        <mat-option value="Couveuse">Couveuse</mat-option>
                        <mat-option value="Industrielle">Industrielle</mat-option>
                        <mat-option value="Libérale">Libérale</mat-option>
                    </mat-select>
                    <mat-error *ngIf="entrepriseForm.get('natureForm').errors">{{ validFormNature() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>N° SIRET</mat-label>
                    <input matInput type="text" placeholder="Entrer un numéro SIRET" formControlName="numeroSiretForm">
                    <mat-error *ngIf="entrepriseForm.get('numeroSiretForm').errors">{{ validFormNumeroSiret() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>N° TVA</mat-label>
                    <input matInput type="text" placeholder="Entrer un numéro de TVA" formControlName="numeroTvaForm">
                    <mat-error *ngIf="entrepriseForm.get('numeroTvaForm').errors">{{ validFormNumeroTva() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Rue</mat-label>
                    <input matInput type="text" placeholder="Entrer une rue" formControlName="rueForm" required>
                    <mat-error *ngIf="entrepriseForm.get('rueForm').errors">{{ validFormRue() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Code postal</mat-label>
                    <input matInput type="text" placeholder="Entrer un code postal" formControlName="codePostalForm" required>
                    <mat-error *ngIf="entrepriseForm.get('codePostalForm').errors">{{ validFormCodePostal() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Ville</mat-label>
                    <input matInput type="text" placeholder="Entrer une ville" formControlName="villeForm" required>
                    <mat-error *ngIf="entrepriseForm.get('villeForm').errors">{{ validFormVille() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Pays</mat-label>
                    <input matInput type="text" placeholder="Entrer un pays" formControlName="paysForm">
                    <mat-error *ngIf="entrepriseForm.get('paysForm').errors">{{ validFormPays() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="text" placeholder="Entrer un e-mail" formControlName="emailForm">
                    <mat-error *ngIf="entrepriseForm.get('emailForm').errors">{{ validFormEmail() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Téléphone</mat-label>
                    <input matInput type="text" placeholder="Entrer un téléphone" formControlName="telForm">
                    <mat-error *ngIf="entrepriseForm.get('telForm').errors">{{ validFormTel() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Fax</mat-label>
                    <input matInput type="text" placeholder="Entrer un fax" formControlName="faxForm">
                    <mat-error *ngIf="entrepriseForm.get('faxForm').errors">{{ validFormFax() }}</mat-error>
                </mat-form-field>
            </p>

            <div class="row mt-5">
                <div class="col-lg-4">
                    <button type="submit" mat-raised-button color="primary" class="w-100">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Valider
                    </button>
                </div>    
                <div class="col-lg-4">
                    <button type="button" mat-raised-button (click)="onCancel()" color="warn" class="w-100">
                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
