<div class="row">
    <div class="col-lg-6">
        <h2>Modification client particulier</h2>
        <hr class="mb-5">
        <form [formGroup]="personneForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Civilité</mat-label>
                    <mat-select placeholder="Entrer une civilité" formControlName="civiliteForm" required>
                        <mat-option value="Mlle">Mlle</mat-option>
                        <mat-option value="Mme">Mme</mat-option>
                        <mat-option value="Mr">Mr</mat-option>
                    </mat-select>
                    <mat-error *ngIf="personneForm.get('civiliteForm').errors">{{ validFormCivilite() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" placeholder="Entrer un nom" formControlName="nomForm" required>
                    <mat-error *ngIf="personneForm.get('nomForm').errors">{{ validFormNom() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Prénom</mat-label>
                    <input matInput type="text" placeholder="Entrer un prénom" formControlName="prenomForm" required>
                    <mat-error *ngIf="personneForm.get('prenomForm').errors">{{ validFormPrenom() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Rue</mat-label>
                    <input matInput type="text" placeholder="Entrer une rue" formControlName="rueForm" required>
                    <mat-error *ngIf="personneForm.get('rueForm').errors">{{ validFormRue() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Code postal</mat-label>
                    <input matInput type="text" placeholder="Entrer un code postal" formControlName="codePostalForm" required>
                    <mat-error *ngIf="personneForm.get('codePostalForm').errors">{{ validFormCodePostal() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Ville</mat-label>
                    <input matInput type="text" placeholder="Entrer une ville" formControlName="villeForm" required>
                    <mat-error *ngIf="personneForm.get('villeForm').errors">{{ validFormVille() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Pays</mat-label>
                    <input matInput type="text" placeholder="Entrer un pays" formControlName="paysForm">
                    <mat-error *ngIf="personneForm.get('paysForm').errors">{{ validFormPays() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="text" placeholder="Entrer un e-mail" formControlName="emailForm">
                    <mat-error *ngIf="personneForm.get('emailForm').errors">{{ validFormEmail() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Téléphone</mat-label>
                    <input matInput type="text" placeholder="Entrer un téléphone" formControlName="telForm">
                    <mat-error *ngIf="personneForm.get('telForm').errors">{{ validFormTel() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Fax</mat-label>
                    <input matInput type="text" placeholder="Entrer un fax" formControlName="faxForm">
                    <mat-error *ngIf="personneForm.get('faxForm').errors">{{ validFormFax() }}</mat-error>
                </mat-form-field>
            </p>

            <div class="row mt-5">
                <div class="col-lg-4">
                    <button type="submit" mat-raised-button color="primary" class="w-100">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Valider
                    </button>
                </div>    
                <div class="col-lg-4">
                    <button type="button" mat-raised-button (click)="onCancel()" color="warn" class="w-100">
                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
