<mat-nav-list>
	<fa-icon [icon]="faUser"></fa-icon>&nbsp;{{userName}}
	<mat-divider class="mt-3"></mat-divider>
	<a mat-list-item routerLink='/mon-compte/tableau-de-bord' routerLinkActive="active-link" class="side-list">
		<fa-icon [icon]="faHome"></fa-icon>&nbsp;Tableau de bords
	</a>
	<a mat-list-item routerLink='/mon-compte/profil' routerLinkActive="active-link" class="side-list mb-2">
		<fa-icon [icon]="faUserCog"></fa-icon>&nbsp;Profil
	</a>
	<fa-icon [icon]="faBuilding"></fa-icon>&nbsp;Clients
	<mat-divider class="mt-1"></mat-divider>
	<a mat-list-item routerLink='/mon-compte/clients/particuliers' routerLinkActive="active-link" class="side-list">
		<fa-icon [icon]="faUser"></fa-icon>&nbsp;particuliers
	</a>
	<a mat-list-item routerLink='/mon-compte/clients/professionnels' routerLinkActive="active-link" class="side-list">
		<fa-icon [icon]="faUserTie"></fa-icon>&nbsp;professionnels
	</a>
</mat-nav-list>
