.succes-snackbar {
	background-color: $background-snackbar !important;
	color: $color-snackbar !important;
	background-image: url("../../images/succes.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5% 45% !important;
	padding-left: 55px !important;
	margin-bottom: 50px !important;
}

.warning-snackbar {
	background-color: $background-snackbar !important;
	color: $color-snackbar !important;
	background-image: url("../../images/warning.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5% 45% !important;
	padding-left: 55px !important;
	margin-bottom: 50px !important;
}

.error-snackbar {
	background-color: $background-snackbar !important;
	color: $color-snackbar !important;
	background-image: url("../../images/erreur.png") !important;
	background-repeat: no-repeat !important;
	background-position: 5% 45% !important;
	padding-left: 55px !important;
	margin-bottom: 50px !important;
} 
