table {
	width: 100%;
	table-layout: fixed;
}

th, td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: 1500px) {
	.mat-header-row, .mat-row, .mat-footer-row {
	    height: 45px !important;
	}
}

.column-id {
	width: 5rem;
}

.column-nom {
	width: 8rem;
}

.column-raison-sociale {
	width: 12rem;
}

.column-action {
	width: 14rem;
}

.mat-row:nth-child(odd) {
	background-color: #f2f2f2;
}

.mat-row:hover {
	background-color: #DDD;
}

.table-bouton {
	padding: 5px !important;
}

@media (max-width: 1500px) {
	.table-bouton {
		padding: 4px !important;
	}
} 
